############
# MAC OS X # 
############

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

############
# IntelliJ # 
############

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/*

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# Mongo Explorer plugin:
.idea/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

############
# manually # 
############

*.cache
*.class
*.xml
*$*

#########
# Tower # 
#########

project/target/resolution-cache
target/streams/test/test
target/resolution-cache
target/scala-2.11/test-classes/fpinscala/laziness/StreamSpecWasowski$$anonfun$2$$anonfun$apply$mcV$sp$1$$anonfun$apply$mcZI$sp$1.class
target/scala-2.11/test-classes/fpinscala/laziness/StreamSpecWasowski.class
target/scala-2.11/test-classes/fpinscala/laziness/StreamSpecWasowski$$anonfun$1.class
target/scala-2.11/test-classes/fpinscala/laziness/StreamSpecWasowski$$anonfun$2.class
target/scala-2.11/test-classes/fpinscala/laziness/StreamSpecWasowski$$anonfun$2$$anonfun$apply$mcV$sp$1.class
target/scala-2.11/test-classes/fpinscala/laziness/StreamSpecWasowski$$anonfun$2$$anonfun$apply$mcV$sp$1$$anonfun$apply$mcZI$sp$2.class
target/scala-2.11/test-classes/fpinscala/laziness/StreamSpecWasowski$$anonfun$2$$anonfun$apply$mcV$sp$2.class
target/scala-2.11/test-classes/fpinscala/laziness/StreamSpecWasowski$$anonfun$2$$anonfun$apply$mcV$sp$3.class
target/scala-2.11/test-classes/fpinscala/laziness/StreamSpecWasowski$$anonfun$2$$anonfun$apply$mcV$sp$4.class
target/scala-2.11/test-classes/fpinscala/laziness/StreamSpecWasowski$$anonfun$2$$anonfun$apply$mcV$sp$4$$anonfun$apply$3.class
target/scala-2.11/test-classes/fpinscala/laziness/StreamSpecWasowski$$anonfun$2$$anonfun$apply$mcV$sp$4$$anonfun$apply$4.class
target/scala-2.11/test-classes/fpinscala/laziness/StreamSpecWasowski$$anonfun$2$$anonfun$apply$mcV$sp$4$$anonfun$apply$5.class
target/scala-2.11/test-classes/fpinscala/laziness/StreamSpecWasowski$$anonfun$2$$anonfun$fpinscala$laziness$StreamSpecWasowski$$anonfun$$arbIntStream$1$1.class
target/scala-2.11/test-classes/fpinscala/laziness/StreamSpecWasowski$$anonfun$genNonEmptyStream$1.class
target/scala-2.11/test-classes/fpinscala/laziness/StreamSpecWasowski$$anonfun$genNonEmptyStream$2.class
target/scala-2.11/test-classes/fpinscala/laziness/StreamSpecWasowski$$anonfun$list2stream$1.class
target/scala-2.11/test-classes/fpinscala/laziness/StreamSpecWasowski$$anonfun$list2stream$1$$anonfun$apply$1.class
target/scala-2.11/test-classes/fpinscala/laziness/StreamSpecWasowski$$anonfun$list2stream$1$$anonfun$apply$2.class
